                                <div class="box-body table-responsive no-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover">
                                                <tr>
                                                     <th>Ufed</th>
                                                     <th>Nome</th>
                                                </tr>
                                                <tr dir-paginate="cidade in resultPage.content | itemsPerPage: pagination.pageSize" total-items="resultPage.totalElements" ng-click="select(cidade)" pagination-id="cidade" ng-class="{selected: cidade}">
                                                     <td><p>{{cidade.ufed}}<p></td>
                                                     <td><p>{{cidade.nome}}<p></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <dir-pagination-controls
                                        on-page-change="cidadePaginationChanged(newPageNumber)"
                                        boundary-links="true"
                                        template-url="layout/dir-pagination.html"
                                        pagination-id="cidade"></dir-pagination-controls>
                                </div>