    <div class="box-body table-responsive no-padding">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <tr>
                         <th>Ufed</th>
                         <th>Nome</th>
                    </tr>
                    <tr dir-paginate="neuralNet in resultPage.content | itemsPerPage: pagination.pageSize" total-items="resultPage.totalElements" ng-click="select(neuralNet)" pagination-id="neuralNet" ng-class="{selected: neuralNet}">
                         <td><p>{{neuralNet.ufed}}<p></td>
                         <td><p>{{neuralNet.nome}}<p></td>
                    </tr>
                </table>
            </div>
        </div>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
        <dir-pagination-controls
            on-page-change="neuralNetPaginationChanged(newPageNumber)"
            boundary-links="true"
            template-url="layout/dir-pagination.html"
            pagination-id="neuralNet"></dir-pagination-controls>
    </div>