



                                <div class="col-md-3" ng-if="entity.ufed">
                                    <div class="form-group">
                                        <label class="control-label">Ufed</label>
                                        <div ng-if="entity.ufed"> {{entity.ufed}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="entity.nome">
                                    <div class="form-group">
                                        <label class="control-label">Nome</label>
                                        <div ng-if="entity.nome"> {{entity.nome}}</div>
                                    </div>
                                </div>


