<span class="app-name hidden-sm hidden-xs">
    <span></span>
    <p ng-bind-html="'aplicacao'|translate">{{"aplicacao" | translate}}</p>
</span>

<div class="menu" accordion>
    <div accordion close-others="oneAtATime">
        <div class="panel panel-default ng-scope">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#/dashboard" class="ng-binding"><i class="fa fa-bar-chart-o"></i> Painel de Controle</a>
                </h4>
            </div>
        </div>

        <div accordion-group>
            <div accordion-heading>
                <span>{{"menu.sistema" | translate}}</span>
                <i class="pull-right mdi"></i>
            </div>
            <a href="#/sobre"><i class="mdi mdi-apps"></i>{{"menu.sobre" | translate}}</a>
            <a href="/swagger-ui" target="_blank"><i class="mdi mdi-apps"></i>{{"menu.restapi" | translate}}</a>
        </div>

    </div>
</div>
